<body class="mypage search-page-wrapper">
  <div class="search-page">
    <h1>未分類動画</h1>

    <% if @saved_videos.present? %>
      <p>フォルダ分けしてください</p>

      <div class="video-grid">
        <% @saved_videos.each do |video| %>
          <%= render "shared/video_card", video: video do %>

            <%= form_with url: saved_video_path(video), method: :patch do |f| %>
              <% selected_folder_id =
                video.video_folders.find { |vf| vf.folder_id.present? }&.folder_id %>

            <%= select_tag :folder_id,
            options_from_collection_for_select(
                @folders,
                :id,
                :name,
                selected_folder_id
            ),
            include_blank: "未分類"%>
              <%= f.submit "移動", class: "btn btn-saved-search" %>
            <% end %>

            <%= button_to "削除",
                saved_video_path(video),
                method: :delete,
                form: { data: { turbo_confirm: "この動画を削除しますか？" } },
                class: "btn btn-danger" %>

          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>保存した動画はありません</p>
    <% end %>

    <div class="actions center">
      <%= link_to "フォルダ一覧", folders_index_path, class: "btn btn-tertiary" %>
      <%= link_to "マイページ", mypage_path, class: "btn btn-mypage-main" %>
    </div>
  </div>
</body>
