<h1>未分類動画</h1>
<p>フォルダ分けしてください</p>

<%= video_tag "videos/テスト動画1.mp4", controls: true, width: 320 %>
<%= video_tag "videos/テスト動画2.mp4", controls: true, width: 320 %>
<%= video_tag "videos/テスト動画3.mp4", controls: true, width: 320 %>

<div class="actions">
  <%= link_to "フォルダ一覧", folders_index_path, class: "btn btn-tertiary" %>
  <%= link_to "マイページ", mypage_path, class: "btn btn-secondary" %>
</div>
