<body class="mypage search-page-wrapper">
  <div class="search-page">
    <h1>未分類動画</h1>

    <% if @saved_videos.present? %>
      <p>フォルダ分けしてください</p>

      <div class="video-grid">
        <% @saved_videos.each do |video| %>
          <%= render "shared/video_card", video: video do %>

            <%= form_with url: saved_video_path(video), method: :patch do |f| %>
              <% selected_folder_id =
                video.video_folders.find { |vf| vf.folder_id.present? }&.folder_id %>

            <% selected_folder_ids = video.video_folders.pluck(:folder_id) %>

                <div class="folder-checkboxes">
                <% @folders.each do |folder| %>
                    <label class="folder-checkbox">
                    <%= check_box_tag "folder_ids[]",
                        folder.id,
                        selected_folder_ids.include?(folder.id) %>
                    <%= folder.name %>
                    </label>
                <% end %>
                </div>

                <%= f.submit "移動", class: "btn btn-saved-search" %>

            <% end %>

            <%= button_to "削除",
                saved_video_path(video),
                method: :delete,
                form: { data: { turbo_confirm: "この動画を削除しますか？" } },
                class: "btn btn-danger" %>

          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>保存した動画はありません</p>
    <% end %>

    <div class="actions--row">
      <%= link_to "フォルダ一覧", folders_index_path, class: "btn btn-folder" %>
      <%= link_to "マイページ", mypage_path, class: "btn btn-mypage" %>
    </div>
  </div>
</body>
