<h1>フォルダ一覧</h1>
  <div class="folder_create">
    <%= form_with model: @folder do |form| %>
      <%= form.text_field :name %>
      <%= form.submit "保存" %>
    <% end %>
  </div>

  <div class="folder_render">
    <% @folders.each do | folder | %>
      <%= folder.name %>

        <div class="folder-menu">
          <ul>
            <li>
              <%= link_to "フォルダを編集", edit_folder_path(folder), class: "update-btn" %>
            </li>
            <li>
              <%= button_to "フォルダを削除", folder_path(folder), method: :delete, data: { turbo_confirm: "削除しますか？" }, class: "delete-btn" %>
            </li>
          </ul>
        </div>
    <% end %>
  </div>

<div class="actions">
  <%= link_to "マイページ", mypage_path, class: "btn btn-secondary" %>
</div>