<div class="food-illustrations">
  <%= image_tag "cook/ramen.png", class: "food food--top-left" %>
  <%= image_tag "cook/onigiri.png", class: "food food--top-center-left" %>
  <%= image_tag "cook/fried_egg.png", class: "food food--top-center-right" %>
  <%= image_tag "cook/pancakes.png", class: "food food--top-right" %>
  <%= image_tag "cook/pasta.png", class: "food food--right" %>
  <%= image_tag "cook/steak.png", class: "food food--left" %>
  <%= image_tag "cook/broccoli.png", class: "food food--bottom-left" %>
  <%= image_tag "cook/tomato.png", class: "food food--bottom-center-left" %>
  <%= image_tag "cook/coffee.png", class: "food food--bottom-center-right" %>
  <%= image_tag "cook/croissant.png", class: "food food--bottom-right" %>
</div>
