<div class="mypage">
  <%= render "shared/background_foods" %>
    <div class="avatar-container">
        <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: 'avatar' %>
        <% else %>
            <%= image_tag 'default_avatar.png', class: 'avatar' %>
        <% end %>

        <div class="plus-btn">
            <%= image_tag 'plus_btn.png' %>
        </div>

        <div class="avatar-menu">
            <ul>
                <li>
                    <label for="user_avatar">画像を変更</label>
                </li>
                <li>
                    <%= button_to "画像を削除", avatar_destroy_mypage_path, method: :delete, data: { turbo_confirm: "削除しますか？" }, class: "delete-btn" %>
                </li>
            </ul>
        </div>

    <%= form_with model: current_user, url: avatar_update_mypage_path, local: true, html: { multipart: true } do |f| %>
        <%= f.file_field :avatar, id: "user_avatar", class: "hidden-input" %>
    <% end %>
    </div>
  
  <div class="text-field">
    <h1>
        <% if current_user.nickname.present? %>
            <span class="line1"><%= current_user.nickname %> さん</span>
            <span class="line2">ようこそ！</span>
        <% else %>
            <span class="line1"><%= current_user.email %> さん</span>
            <span class="line2">ようこそ！</span>
        <% end %>
    </h1>
    <p>CookTokへログイン中です。</p>
  </div>

  <div class="actions">
    <%= link_to "動画を探す", searches_path, class: "btn btn-search" %>
    <%= link_to "保存動画", saved_videos_path, class: "btn btn-post" %>
    <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-profile" %>
    <%= link_to "ログアウト",
      destroy_user_session_path,
      data: { turbo_method: :delete },
      class: "btn btn-logout" %>
  </div>
</div>

<%= javascript_include_tag "mypage_foods", defer: true %>


