<h1>動画を探す</h1>

<%= form_with url: searches_path, method: :get do |f| %>
  <%= f.text_field :keyword, placeholder: "検索ワードを入力" %>
  <%= f.submit "検索" %>
<% end %>

<% @videos.each do |video| %>
  <div class="video-item">
    <p><%= video[:title] %></p>
    <% if video[:thumbnail].present? %>
      <%= image_tag video[:thumbnail], width: 200 %>
    <% end %>
    <% if video[:url].present? %>
      <%= video_tag video[:url], controls: true, width: 320 %>
    <% end %>
  </div>
<% end %>

<div class="actions">
  <%= link_to "マイページ", mypage_path, class: "btn btn-secondary" %>
</div>
