<body class="mypage search-page-wrapper">
  <div class="search-page">
    <h1>動画を探す</h1>

    <%= form_with url: searches_path, method: :get do |f| %>
      <%= f.text_field :keyword, placeholder: "検索ワードを入力" %>
      <%= f.submit "検索" %>
    <% end %>

    <% if params[:keyword].present? %>
      <h2>検索ワード: <%= params[:keyword] %></h2>
      <p class="search-count">
        <%= (params[:page] || 1) %>ページ目を表示中（<%= @videos.size %>件）
      </p>
    <% end %>

    <% if @videos.present? %>
      <div class="video-grid">
        <% @videos.each do |video| %>
          <% title = video["desc"] || video["title"] || "タイトルなし" %>
          <% video_id = video["id"] %>
          <% creator = video["author"] rescue nil %>
          <% nickname = creator&.dig("nickname") %>
          <% username = creator&.dig("unique_id") %>
          <% video_url = "https://www.tiktok.com/embed/v2/#{video_id}" %>

          <% video_card = SavedVideo.new(
              title: title,
              url: video_url,
              nickname: nickname,
              username: username
          ) %>

          <%= render "shared/video_card", video: video_card do %>

            <% if (saved = current_user.saved_videos.find_by(url: video_url)) %>
              <%= button_to "保存解除",
                    saved_video_path(saved),
                    method: :delete,
                    data: { turbo: false },
                    class: "btn btn-unsave-search" %>
            <% else %>
              <%= form_with model: SavedVideo.new,
                    url: saved_videos_path,
                    method: :post,
                    data: { turbo: false } do |f| %>
                <%= f.hidden_field :title, value: title %>
                <%= f.hidden_field :url, value: video_url %>
                <%= f.hidden_field :nickname, value: nickname %>
                <%= f.hidden_field :username, value: username %>
                <%= f.submit "保存", class: "btn btn-saved-search" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>動画が見つかりませんでした。</p>
    <% end %>

    <% if @videos.present? %>
      <% current_page = (params[:page] || 1).to_i %>

      <div class="pagination google-pagination">
        <% if current_page > 1 %>
          <%= link_to "＜",
              searches_path(keyword: params[:keyword], page: current_page - 1),
              class: "page-nav" %>
        <% end %>
        <% start_page = [current_page - 3, 1].max %>
        <% end_page   = current_page + 3 %>

        <% (start_page..end_page).each do |p| %>
          <% if p == current_page %>
            <span class="page-number active"><%= p %></span>
          <% else %>
            <%= link_to p,
                searches_path(keyword: params[:keyword], page: p),
                class: "page-number" %>
          <% end %>
        <% end %>
        <%= link_to "＞",
            searches_path(keyword: params[:keyword], page: current_page + 1),
            class: "page-nav" %>
      </div>
    <% end %>


    <div class="actions center">
      <%= link_to "マイページ", mypage_path, class: "btn btn-mypage" %>
    </div>
  </div>
</body>
