<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cooktok" %></title>
    <meta name="image-base-path" content="<%= File.dirname(image_url('cook/beef_bowl.png')) + '/' %>">
        <% foods = %w[
      beef_bowl bread broccoli carrot coffee croissant donut fish fried_egg hamburger
      juice onigiri onion pancakes pasta potato ramen roast_chicken steak sushi strawberry tomato
    ] %>

    <% foods.each do |food| %>
      <meta name="food-<%= food %>" content="<%= image_url("cook/#{food}.png") %>">
    <% end %>


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (optional) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">


    <%# Stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# JavaScript (Importmapæ§‹æˆ) %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "background_foods_common", defer: true %>
    <%= javascript_include_tag "homepage_foods", defer: true %>
    <%= javascript_include_tag "mypage_foods", defer: true %>

  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
